* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section:nth-child(1) {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid black;
}

section:nth-child(1) img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-bottom: 1px solid black;

}

ul {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 70%;
  gap: 3px;

}

ul li img {
  width: 100%;
  height: 90%;
  object-fit: cover;
}

li {
  list-style: none;
}

section:nth-child(2) {
  display: flex;
  justify-content: center;
}



section:nth-child(2) div {
  display: none;
}

@media screen and (min-width: 1000px) {

  section:nth-child(1) {
    flex-direction: row-reverse;
  }


  ul {
    width: 20%;
    flex-direction: column;
    height: 40vh;
  }

  li {
    width: 100%;
    height: 100%;
  }

  ul li img {
    width: 100%;
    height: 100%;
  }

  section:nth-child(2) div {
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    gap: 80px;
    width: 80%;
  }

  section:nth-child(2) p {
    display: flex;
    align-self: center;

  }

  section:nth-child(2) small {
    display: flex;
    align-self: flex-end;

  }


  section:nth-child(2) {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 30px;
  }

}